body {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }

label {
    display: inline-block; 
    text-align: right;
    width: 200px;
    padding: 5px
}


#boardDiv, #formDiv {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

form {
    padding: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}


td {
    border: 1px solid black;
    padding: 8px;
    width: 40px;
    height: 40px;
    align-content: center;
    font-size: 30px;
}

.spaceButton {
    width: 40px;
    height: 40px;
  }

table {
    border-spacing: 4px;
}

#turn-tracker, #result-display {
    padding: 10px;
    font-size: 25px;
}

#replayGame, #newGame { 
  border: 3px solid rgb(47, 155, 33);
  font-size: 20px;
  margin: 10px;
  align-self: center;
  width: 200px
}

#submit_players { 
    border: 3px solid rgb(47, 155, 33);
    font-size: 15px;
    margin: 15px 15px 0px 15px;
    align-self: center;
    width: 150px
  }